@import '../../common/styles/variables';
@import '../../common/styles/mixins';

.community {
  padding: 229px 0 177px 0;

  .communityContainer {
    @include container(1507);
    @include flex($justifyContent: space-between);
    gap: 31px;

    .textBlock {
      max-width: 580px;

      .title {
        @include title($fontSize: 50px);
        color: #ffffff;

        @media (max-width: 576px) {
          font-size: 40px;
        }
      }

      .description {
        margin-top: 33px;
        @include text($fontWeight: 600, $fontSize: 25px, $lineHeight: 157%);
        color: #ffffff;
      }

      .button {
        margin-top: 57px;
        @include button();
      }

      @media (max-width: 768px) {
        max-width: unset;
      }
    }

    .videoBlock {
      position: relative;
      flex-grow: 1;
      height: 516px;
      background: url('../../assets/images/videoPreview.jpg') center / cover no-repeat;
      transition: 0.2s;
      border-radius: 16px;

      .iconWrapper {
        & *:hover {
          fill: $primaryColor;
        }

        .icon {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          cursor: pointer;
          transition: 0.3s;
        }
      }

      @media (max-width: 768px) {
        width: 100%;
        height: 400px;
      }
    }

    @media (max-width: 768px) {
      flex-direction: column;
      gap: 80px;
    }
  }

  @media (max-width: 768px) {
    padding: 160px 0;
  }
}