@import '../../common/styles/mixins';

.header {
  position: sticky;
  top: 0;
  @include flex();
  height: 85px;
  @include text();
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  z-index: 10;

  .headerContainer {
    @include container();
    @include flex($justifyContent: space-between);
    white-space: nowrap;

    .logo {
      margin-right: calc(172 / 1386 * 100%);

      @media (max-width: 1300px) {
        margin-right: 40px;
      }
    }
  }

  @media (max-width: 1016px) {
    font-size: 16px;
  }
}